@import 'themes.scss';

header {
    background : darkcyan;
    color : white;
    text-align: center;
    padding:16px;
}

.root {
    flex-grow: 1;
}

.content {
    
}

main{
    color: white;
}

aside{
    color : white;
}

.paper {
    display:flex;
    flex-direction: column;
    min-height: 200px;
    margin:32px;
}

.writingTweetPaper{
    display: flex;
    height:auto;
    margin:32px;
}

.tweetlistHeader{
    font-size: 2rem;
    padding:16px;
    text-align: start;
    color:#757575;
    background: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
}

.tweetBtn {
    @include themify($themes) {
      color: themed('textColor');  
      background-color: themed('backgroundColor');  
      
      &:hover{
          background-color: themed('backgroundHoverColor')
      }
    }
}