header {
    background : darkcyan;
    color : white;
    text-align: center;
    padding:16px;
}

.root {
    flex-grow: 1;
}

.content {
    display: flex;
}

main{
    color: white;
}

aside{
    color : white;
}

.paper {
    min-height: 200px;
    padding: 16px;
    text-align: center;
    color: black,
}
  