$themes: (
  light: (
    backgroundColor: white,
    subBackgroundColor : white,
    textColor: #408bbd,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #408bbd,
  ),
  dark: (
    backgroundColor: #424242,
    subBackgroundColor : #EEEEEE,
    backgroundHoverColor : #616161,
    textColor: white,
    subTextColor : #424242,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #0277BD,
    buttonBorder: 1px solid #333,
  ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}
  
